<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestingWebsite" parallel="false">

    <test name="TestCases">
        <classes>
            <!-- Run DisplayBookshelvesTest -->
            <class name="org.testCases.DisplayBookshelvesTest"/>

            <!-- Run TC_GiftCards_DDT -->
            <class name="org.testCases.TC_GiftCards_DDT"/>
        </classes>
    </test>

</suite>